html,body
{
	min-height:100%;
}

body
{
	background-image:url('../../pictures/background/background.png');
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size:100%;
	height:100%;
	//width:100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size:cover;
	background-size:cover;
}

div.main
{
	color:#C8C7C7;
	position: fixed;
	top:40%;
	left:40%;
	font-size:20px;
}

.button
{
	height:15%;
	width:15%;
	margin:3%;
}

#login
{
	margin-left:-10%;
}

ul
{
	list-style-type: none;
	margin:3%;
}
li
{
	margin:3%;
}
#loginHead
{
	margin-left:2%;
	padding-left:20%;
}
#registrationLogin
{
	height:3%;
	width:3%;
}
.small
{
	font-size:12px;
	
}

a:link
{
	color:#FDFBFB;
}
a:hover
{	
	color:#FFFFFF;
}
a:active
{
	color:#FDFBFB;
}